body {
  background-image: url(https://cdn.wallpapersafari.com/10/31/hb7Dvl.jpg);
  background-attachment: fixed;
  background-size: cover;
  font-family: monospace;
  color: white;
  text-align: center;
}